version: "3.8"
services:
  ref:
    build: ./part4-ref
    networks: [appnet]

  proxy:
    build: ./part4-proxy
    ports:
      - "5557:5557"
      - "5558:5558"
    networks: [appnet]

  broker:
    build: ./part4-broker
    networks: [appnet]

  server:
    build: ./part4-server
    depends_on: [proxy, ref]
    environment:
      - SERVER_NAME=server
    deploy:
      replicas: 3
    volumes:
      - ./part4-server/data:/app/data
    networks: [appnet]

  bot:
    build: ./part4-bot
    depends_on: [proxy, broker]
    deploy:
      replicas: 2
    networks: [appnet]

  client:
    build: ./part4-client
    depends_on: [proxy, broker]
    networks: [appnet]

networks:
  appnet:
    driver: bridge
