version: "3.8"

services:
  proxy:
    build: ./part2-proxy
    container_name: proxy
    ports:
      - "5557:5557"
      - "5558:5558"

  server:
    build: ./part3-server
    container_name: server
    volumes:
      - ./data:/data
    depends_on:
      - proxy
    environment:
      - PUB_ADDRESS=tcp://proxy:5557
      - SUB_ADDRESS=tcp://proxy:5558

  client:
    build: ./part3-client
    container_name: client
    depends_on:
      - server
      - proxy

  bot:
    build: ./part3-bot
    container_name: bot
    depends_on:
      - server
      - proxy
